.btnVolver:hover, JFXButton:hover {
    -fx-cursor: hand;
}

/*** BARRA SUPERIOR ***/
.lblMinimizarVentana:hover, .lblCerrarVentana:hover {
    -fx-cursor: hand;
}

.lblMinimizarVentana:hover MaterialDesignIconView {
    -fx-fill: #16a9fa;
}

.lblCerrarVentana:hover MaterialDesignIconView {
    -fx-fill: #ff0000;
}

/*** INICIAR SESIÓN ***/
.txtIniciarSesion {
    -fx-text-fill: white;
}

.vbx {/*
    -fx-background-color: #3a4558;
    -fx-background-radius: 25px 0px 0px 25px;
    -fx-border-color: #3a4558;
    -fx-border-width: 2px;
    -fx-border-radius: 20px 0px 0px 20px;*/
}

.btnIniciarSesion {
    -fx-background-radius: 30px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-padding: 5px;
}

/*** MENÚ ***/
.sidebar {
    -fx-background-color: #3a4558; /* #0f172a; */
}

.sidebar-user, .sidebar-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

.sidebar-btn:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-border-color: #16a9fa;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-cursor: hand;
}

.sign-out {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.sign-out:hover {
    -fx-cursor: hand;
}

/*** SCROLLPANE ***/
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: white;
    -fx-padding: -2 0 0 0;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: white;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#3a4558, 90%);
}

.scroll-pane .scroll-bar:vertical .decrement-button, .scroll-pane .scroll-bar:vertical .increment-button {
    -fx-padding: 5;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow, .scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-background-color: white;
    -fx-padding: -2;
}

/*** DATEPICKER, SPINNER Y COMBOBOX ***/
.date-picker, .spinner, .combo-box {
    -fx-font: 14px "Century Schoolbook";
}

/*** TABLAS ***/
.table-view {
    -fx-border-color: white;
}

.table-view .column-header, .table-view .column-header .label {
    -fx-background-color: #05a4fa;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-width: 0px;
}

.table-cell {
    -fx-font: 12px "Century Schoolbook";
    -fx-alignment: center;
}

.table-row-cell:even {
    -fx-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: #f0f2f5;
}

.table-view:row-selection .table-row-cell:filled:selected {
    -fx-background-color: #50bffb;
}